.main{
	max-width:1300px;
    margin: auto;
}
body {
    background-image: url('learn_more_pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
.LM_logo img {
  padding-top: 5px;
  padding-left:450px;
  padding-right:500px;
}

.vid_aud {
	border: 2px groove black;
	margin-top: 10px;
	margin-left: 300px;
	margin-right: 80px;
  }

.heading{
	font-family: 'Trebuchet MS';
	font-size: xx-large;
    padding-top: 10px;
    padding-left:355px;
    padding-right:300px;
}
.itemList ol {
    font-size: large;
    font-family: cursive;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left:375px;
    padding-right: 100px;
}
